<div style="display: flex;flex-direction: row;width: 100%;gap: 0.5rem;">
  Paste Vehicle XML:
  <input style="flex-grow: 1;" type="text" [(ngModel)]="xmlInput" (input)="showLogic()">
</div>
@if (xmlInput && parseError) {
  <h1>{{parseError}}</h1>
}
@for (body of out | keyvalue; track $index) {
  <h1>Body {{$index+1}}</h1>
  <h2>Inputs</h2>
  <ul>
    @for (comp of body.value; track $index) {
      @if (!comp.type.ignore && comp.type.input) {
        <li>{{comp.channel}} {{comp.name}} ({{comp.type.title}})</li>
      }
    }
  </ul>
  <h2>Outputs</h2>
  <ul>
    @for (comp of body.value; track $index) {
      @if (!comp.type.ignore && !comp.type.input) {
        <li>{{comp.channel}} {{comp.name}} ({{comp.type.title}})</li>
      }
    }
  </ul>
}

